.All-Products-Container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    column-gap: 192px;
    padding: 0 96px;
    border: 3px solid black;
}

.card {
    height: 300px;
    width: 200px;
    /* border: 1px solid black; */
    border-radius: 15px;
}

.product-card-image {
    width: 200px;
    height: 150px;
}

.product-button {
    font-size: 18px;
    padding: 5px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: white;
    width: 100%;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    opacity: 100%;
}

.product-button:hover {
    opacity: 75%;

}