header {
    height: 10%;
}

.intro-section {
    height: 80vh;
    position: relative;
}

.intro-text-outlined {
    width: 100%;
    height: 100%;

    font-family: 'Poppins';
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    /* transform: translate(0%, 0%); */
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.intro-text-main {
    width: 100%;
    height: 100%;

    font-family: 'Poppins';
    font-size: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 5%);
    background: linear-gradient(91.02deg, #4280CF 7.23%, #3975C0 14.99%, #0C315F 50.29%, #0A2444 63.22%, #03234B 85.09%, #4280CF 102.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#canvas-container {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:768px) {

    .intro-text-main,
    .intro-text-outlined {
        font-size: 3rem;
        top: 30%;
    }

    .intro-text-main {
        transform: translate(0, 3%);
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {

    .intro-text-main,
    .intro-text-outlined {
        font-size: 5rem;
        top: 35%;
    }

    .intro-text-main {
        transform: translate(0, 3%);
    }
}

@media screen and (min-width:1200px) {

    .intro-text-main,
    .intro-text-outlined {
        font-size: 9rem;
        top: 10%;
    }
}