.header-font {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    line-height: 72px;
  }

  .paragraph-font {
    font-family: "Poppins", sans-serif;
    margin-bottom: 60px;
    color: #959799;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    letter-spacing: 0.02em;
  }

  .footer-header-font{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600px;
    letter-spacing: -0.02em;
  }

  .footer-paragraph-font {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 21px;
    color: #ffffff;
  }
