.footer-container {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    justify-content: space-between;
}

.footer-link-container {
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-align: left;
}

ul {
    list-style-type: none;
}

.contact-info-container {
    text-align: right;
}