header {
    height: 10%;
}

.intro-section {
    height: 80%;
    position: relative;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

.intro-img {
    width: 70%;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 0%);
}