.features-component {
	flex-direction: column;
	align-items: flex-start;
	align-items: start;
	width: 100vw;
}

.header-font {
	font-size: 3rem;
	width: 90vw;
	text-align: center;
	margin: auto;
}

.features-component p {
	width: 90vw;
	text-align: left;
	margin: auto;
}

.features-container {
	padding: 2rem 0;
	position: relative;
	width: 100%;
}

.features-container div {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.Carousel-fea-btn {
	background-color: rgb(255, 254, 254);
	border-radius: 50%;
	color: white;
	cursor: pointer;
	font-size: 20px;
	width: 40px;
	height: 40px;
	border: unset;
	position: absolute;
	z-index: 1;
}

.Carousel-fea-btn span {
	color: black;
}

.features-container div div {
	overflow: unset;
}

.left-Fea {
	left: 3%;
	top: 50%;
}

.right-Fea {
	right: 3%;
	top: 50%;
}

.card-wrapper {
	overflow: unset;
}

.card-img {
	border-radius: 2px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
	.card-img {
		height: 80%;
	}
}