.cart-page-container {
    text-align: center;
    margin-top: 50px;
}

.cart-header {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
}

.cart-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: block; */
    text-align: center;
    width: 50%;
    border: 1px solid black;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.delete-button-container {
    display: flex;
    /* justify-content: flex-end; */
}

.empty-cart {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.cart-image {
    max-height: 75px;
    max-width: 75px;
}

.total-price {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.delete-cart-item-btn {
    padding: 5px;
    background: none;
    border-radius: 10px;
    font-size: 1rem;
    color: red;
}