.products-section {
    flex-direction: column;
    justify-content: center;
}

.product-list {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;

}

.box {
    position: relative;
    width: 25%;

}

.product-img {
    width: 100%;
    border-radius: 12px;
    opacity: 90%;
}

.product-text {
    position: absolute;
    font-size: 3rem;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-img:hover {
    opacity: 100%;
}


@media screen and (max-width:768px) {
    .product-text {
        font-size: 1.5rem;
    }

    .box {
        width: 40%;
    }

    .product-list {
        flex-wrap: wrap;

    }
}