.cart-page-container {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cart-header {
    font-family: "Poppins", sans-serif;
    font-size: 56px;
}

.cart-item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* display: block; */
    text-align: center;
    width: 50%;
    /* border: 1px solid black; */
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.delete-button-container {
    display: flex;
    /* justify-content: flex-end; */
}

.empty-cart {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.cart-image {
    max-height: 75px;
    max-width: 75px;
}

.total-price {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}

.checkout-btn {
    font-family: 'Poppins', sans-serif;
    background: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.delete-cart-item-btn {
    padding: 5px;
    background: none;
    border-radius: 10px;
    font-size: 1rem;
    color: red;
    border: none;
}

.delete-btn-img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.delete-btn-img:hover {
    animation: shake 0.8s;
}

@keyframes shake {
    0% { transform: translate(1px, 0px) rotate(0deg); }
    10% { transform: translate(-1px, 0px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 0px) rotate(0deg); }
    40% { transform: translate(1px, 0px) rotate(1deg); }
    50% { transform: translate(-1px, 0px) rotate(-1deg); }
    60% { transform: translate(-3px, 0px) rotate(0deg); }
    /* 70% { transform: translate(3px, 1px) rotate(-1deg); } */
    80% { transform: translate(-1px, 0px) rotate(1deg); }
    /* 90% { transform: translate(1px, 2px) rotate(0deg); } */
    100% { transform: translate(1px, 0px) rotate(-1deg); }
  }