/* .promo-section {
    width: 90%; 
} */

.promo-container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}

.promo-header {
    text-align: left;
    width: 100%;
}

.header-font {
    width: unset;
    text-align: left;
}

.join-now-button {
    text-align: center;
    background-color: black;
    color: white;
    width: 22%;
    border-radius: 7px;
    padding: 1rem;
}

.promo-woman-image {
    width: 90%;
    border-radius: 8px;

}

@media screen and (min-width: 600px) {
    .promo-woman-image {
        width: 50%;
    }

    .promo-header {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .join-now-button {
        width: 100%;
        margin-bottom: 15px;
    }
}