.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
<<<<<<< HEAD
  background-color: rgb(251, 247, 247);
=======
  background-color: white;
>>>>>>> c42a4f6e71f10ed41f3283ec6c679a2eb1d4ee2f
}

.Header-Intro-Wrapper {
  height: 100vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component {
<<<<<<< HEAD
  width: 90%;
=======
  border: solid 0.2rem black;
  width: 100%;
>>>>>>> c42a4f6e71f10ed41f3283ec6c679a2eb1d4ee2f
}