* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}


.component {
  width: 90vw;
  display: flex;
}


/* general styling */
.header-font {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  line-height: 72px;
}

.paragraph-font {
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
  color: #959799;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.02em;
}

.footer-header-font {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600px;
  letter-spacing: -0.02em;
}

.footer-paragraph-font {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 21px;
  color: #ffffff;
}