nav {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: black;
	width: 100%;
	margin: Opx 2px;
}

.left-nav {
	width: 100%;
	display: flex;
}

#navbar {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	color: black;
	gap: 24px;
}

#navbar li {
	justify-content: center;
	list-style: none;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: black;
	font: Helvetica;
}

#navbar li a:hover {
	font-size: 1.2rem;
	transition: 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
	#navbar li a {
		font-size: 0.8rem;
	}
}
