nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  color: black;
  width: 100%;
}

.left-nav {
  width: 100%;
  display: flex;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  gap: 24px;
}

#navbar li {
  justify-content: center;
  list-style: none;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: black;
  font: Helvetica;
}

#navbar li a:hover {
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

#right-nav {
  display: flex;
  gap: 16px;
  color: black;
}
